[report]
show_missing = True
fail_under = 90
exclude_lines =
    pragma: no cover
    if __name__ == .__main__.:
    def __repr__
omit =
    iib/web/app.py
    iib/web/manage.py
    iib/web/wsgi.py
    iib/web/config.py
    iib/web/migrations*
