# The dependencies are duplcated from setup.py to avoid
# confusing dependabot
celery
coverage
dogpile.cache
flask
flask-login
flask-migrate
flask-sqlalchemy
operator-manifest
psycopg2-binary
pytest
pytest-cov
python-memcached
python-qpid-proton
requests
requests-kerberos
retry
ruamel.yaml
