# The dependencies are duplcated from setup.py to avoid
# confusing dependabot
celery
coverage
flask
flask-login
flask-migrate
flask-sqlalchemy
operator-manifest
pytest
python-qpid-proton
psycopg2-binary
pytest
pytest-cov
requests
requests-kerberos
