celery
flask
flask-login
flask-migrate
flask-sqlalchemy
operator-manifest
python-qpid-proton
psycopg2-binary
recommonmark
requests
# https://github.com/sphinx-doc/sphinx/issues/2796
sphinx!=3.0.2
sphinx_rtd_theme
