celery
boto3
dogpile.cache
flask
flask-login
flask-migrate
flask-sqlalchemy
operator-manifest
python-qpid-proton
python-memcached
psycopg2-binary
recommonmark
requests
ruamel.yaml
# https://github.com/sphinx-doc/sphinx/issues/2796
sphinx==7.0.1
sphinx_rtd_theme
tenacity
typing-extensions
